In [1]:
from itertools import product
from primefac import primefac
import numpy as np
import pandas as pd

In [2]:
def all_rolls(n_dice, n_sides=6):
    '''generates all possible rolls of n_dice, ignoring order.
    Assumes sides are numbered 1 to n_sides'''
    return list(product(range(1, n_sides + 1), repeat=n_dice))

In [3]:
def gen_roll_sum_df(n_dice, n_sides=6):
    rolls = all_rolls(n_dice, n_sides=n_sides)
    roll_array = np.array(rolls)
    roll_sum = roll_array.sum(axis=1)
    roll_prod = roll_array.prod(axis=1)
    return pd.DataFrame({'roll':rolls, 'roll_sum':roll_sum,
                         'roll_prod':roll_prod})

In [7]:
gen_roll_sum_df(3).groupby('roll_sum')['roll'].count()

roll_sum
3      1
4      3
5      6
6     10
7     15
8     21
9     25
10    27
11    27
12    25
13    21
14    15
15    10
16     6
17     3
18     1
Name: roll, dtype: int64

In [8]:
for i in range(2, 9):
    print(gen_roll_sum_df(i).groupby('roll_sum')['roll'].count().max())

6
27
146
780
4332
24017
135954

In [6]:
list(primefac(146))

[2, 73]

In [7]:
gen_roll_sum_df(2).groupby('roll_sum')['roll'].count()

roll_sum
2     1
3     2
4     3
5     4
6     5
7     6
8     5
9     4
10    3
11    2
12    1
Name: roll, dtype: int64

In [82]:
gen_roll_sum_df(3)

          roll  roll_prod  roll_sum
0    (1, 1, 1)          1         3
1    (1, 1, 2)          2         4
2    (1, 1, 3)          3         5
3    (1, 1, 4)          4         6
4    (1, 1, 5)          5         7
5    (1, 1, 6)          6         8
6    (1, 2, 1)          2         4
7    (1, 2, 2)          4         5
8    (1, 2, 3)          6         6
9    (1, 2, 4)          8         7
10   (1, 2, 5)         10         8
11   (1, 2, 6)         12         9
12   (1, 3, 1)          3         5
13   (1, 3, 2)          6         6
14   (1, 3, 3)          9         7
15   (1, 3, 4)         12         8
16   (1, 3, 5)         15         9
17   (1, 3, 6)         18        10
18   (1, 4, 1)          4         6
19   (1, 4, 2)          8         7
20   (1, 4, 3)         12         8
21   (1, 4, 4)         16         9
22   (1, 4, 5)         20        10
23   (1, 4, 6)         24        11
24   (1, 5, 1)          5         7
25   (1, 5, 2)         10         8
26   (1, 5, 3)         15         9
27   (1, 5, 4)         20        10
28   (1, 5, 5)         25        11
29   (1, 5, 6)         30        12
..         ...        ...       ...
186  (6, 2, 1)         12         9
187  (6, 2, 2)         24        10
188  (6, 2, 3)         36        11
189  (6, 2, 4)         48        12
190  (6, 2, 5)         60        13
191  (6, 2, 6)         72        14
192  (6, 3, 1)         18        10
193  (6, 3, 2)         36        11
194  (6, 3, 3)         54        12
195  (6, 3, 4)         72        13
196  (6, 3, 5)         90        14
197  (6, 3, 6)        108        15
198  (6, 4, 1)         24        11
199  (6, 4, 2)         48        12
200  (6, 4, 3)         72        13
201  (6, 4, 4)         96        14
202  (6, 4, 5)        120        15
203  (6, 4, 6)        144        16
204  (6, 5, 1)         30        12
205  (6, 5, 2)         60        13
206  (6, 5, 3)         90        14
207  (6, 5, 4)        120        15
208  (6, 5, 5)        150        16
209  (6, 5, 6)        180        17
210  (6, 6, 1)         36        13
211  (6, 6, 2)         72        14
212  (6, 6, 3)        108        15
213  (6, 6, 4)        144        16
214  (6, 6, 5)        180        17
215  (6, 6, 6)        216        18

[216 rows x 3 columns]

In [83]:
n_dice_8 = gen_roll_sum_df(8)

In [ ]:
n_dice_50 = gen_roll_sum_df(50)

In [84]:
df.head()

                       roll  roll_prod  roll_sum
0  (1, 1, 1, 1, 1, 1, 1, 1)          1         8
1  (1, 1, 1, 1, 1, 1, 1, 2)          2         9
2  (1, 1, 1, 1, 1, 1, 1, 3)          3        10
3  (1, 1, 1, 1, 1, 1, 1, 4)          4        11
4  (1, 1, 1, 1, 1, 1, 1, 5)          5        12

In [86]:
df[df['roll_sum'] == 24]['roll_prod'].mean()

1859.9329541659499